/* ******* Reset ******* */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }


body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
}

/******* HEADER  *******/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    z-index: 999;
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: fixed;
}

.header__title {
     color: #fff;
     font-weight: 500;
     transition: all 1s ease-in-out;
}

.header__title:hover {
    color: #fe5f2f;
}

.nav-bar__ul {
    display: flex;
    list-style: none;
}

.nav-bar__ul a {
    font-weight: 500;
    text-decoration: none;
    padding: 2.5rem;
    color: #fff;
    opacity: 0.9;
    transition: all 1s ease-in-out;
}

.nav-bar__ul a:hover {
    opacity: 0.8;
}

.nav-bar--link__btn {
    display: block;
    border: 1px solid #553d2a;
    border-radius: 10px;
    background-color: #553d2a;
     padding: 5px 0;
    opacity: 0.8;
    align-self: center;
    transition: all 1s ease-in-out;
}


/******* HERO ********/


section#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: #000; */
    background-image: url(assets/coffe-jpg.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

section#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9),
    transparent 60%, rgba(0, 0, 0, 0.8));
    z-index: inherit;
}

#hero .hero_info {
    padding-top: 80px;
    padding-right: 100px;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero .hero_info h1 {
    font-size: 4rem;
    line-height: 1.1;
    color: #fe5f2f;
    opacity: 0.8;
}

#hero .hero_info p {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    color: #f3f3f3;
    opacity: 0.5;
}

.hero_boxs {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 50px;
    gap: 0.5rem;
}

.hero-box {
    border: 1px solid #fff;
    font-size: 20px;
    padding: 1px 55px;
    margin: 30px;
    color: #fff;
    opacity: 0.4;
    line-height: 1.2;
    letter-spacing: 1.1;
}


/******* ABOUT  ********/

section#about {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 75px 50px;
    position: relative;
}

.about-info {
    width: 52%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
}

.about-info h2 {
    font-weight: 400;
    font-size: 3.5rem;
    opacity: 0.9;
    background: linear-gradient(to right, #fa996c, #fe5f2f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.about-info h3 {
    font-size: 2.5rem;
    font-weight: 300;
     background: linear-gradient(to right, #999, #222);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.about-img {
    flex: 0 1 auto;
}

.about-img img {
    border-radius: 1rem;
    opacity: 0.3;
    border: 2px solid #222;
}

.about-icons {
    position: absolute;
    bottom: 0px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon {
    background-color: #fe5f2f;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fe5f2f;
    opacity: 0.9;
    transition: all .8s ease;
}

.icono {
    font-size: 2rem;
}

.icon-info {
    text-align: center;
    opacity: 0.7;
}

.icon:hover {
    background-color: #fe5f2f;
    opacity: .7;
}

/* Three Cards */

.three-cards {
    width: 100%;
    height: 100%;
    background-color: #000;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #222;
}

.container-card {
    width: 450px;
    height: 670px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-card img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    margin-top: 1rem;
    border-radius: 5px;
    opacity: .6; 
}

.container-card h2 {
    color: #f3f3f3;
    margin-top: 2rem;
    text-align: center;
    opacity: .8;
}

.container-card span {
    color: #fe5f2f;
}

.container-card p {
    color: #f3f3f3;
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: .8;
}



/******* TYPES *******/

section#types {
    background-color: #000;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

section#types h2 {
    font-weight: 500;
    align-self: center;
    font-size: 3.5rem;
    opacity: 0.9;
    background: linear-gradient(to right, #fe5f2f, #fa996c);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}


.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 1rem;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .9s;  
}

.card .front {
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: perspective(600px) rotateY(0deg);
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    
}


.card .front h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    box-shadow: 2px 2px #222;
}

.card .back p {
    align-self: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 500;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

aside {
    position: absolute;
    top: 55%;
    right: 0;
   
}

.aside-content {
    border: 1px solid #222;
    margin-right: 2rem;
    padding: 0 1rem;
    background-color: #fe5f2f;
    transition: .5s ease;
    cursor: pointer;
}

.aside-content:hover {
    background-color: #000;
}


.aside-content a {
    text-decoration: none;
}

.aside-content h3 {
    text-align: center;
    color: #f3f3f3;
}






